<html>
    <head>
        <title>EDIT FORM</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/editform.js"></script>
    </head>
    <body>
            <nav class="navbar navbar-light bg-light" style = "position:fixed; width:100%;z-index:1">
                    <button type="button" class="btn btn-warning"><strong><a href="/" style= "text-decoration: none;">SHOP</a></strong></button>
            </nav>
        <div class = "jumbotron">
                <form method="POST" action="/products/add">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Title</label>
                            <input name = "title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Title">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Description</label>
                            <input type="textbox" name = "description" class="form-control" id="formGroupExampleInput" placeholder="Product Description">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Quantity</label>
                            <input type="text" class="form-control" name = "quantity" id="formGroupExampleInput" placeholder="Product Quantity  ">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Image</label>
                            <input type="text" class="form-control" name = "image" id="formGroupExampleInput" placeholder="Product Image">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
        
    </body>
</html>