<!-- <html>
    <head>
        <title>EDIT FORM</title>
        <script src="/assets/editform.js"></script>
    </head>
    <body>
        <form>
                <label for="title">TITLE</label><input type = "text" name = "title" placeholder="Product title">
                <label for="description">Description</label><input type = "text" name = "description" placeholder="Product description">
                <label for="quantity">Quantity</label><input type = "text" name = "quantity" placeholder="Product Quantity">
        </form>
    </body>
</html> -->